/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/





/*------------------------------------*\
    $LOGO
\*------------------------------------*/

header{
    margin-top: 6px;
    span {
        position: absolute;
        top: 22px;
    }
}

.brand {

}
