<div class="container">

    <div id="track-display-holder">
        <div id="track-display"></div>
    </div>
    <audio id="player" src="/shuffle" style="display:hidden;"></audio>
    <canvas id="visualization"></canvas>

</div>
